/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.primary-btn{
    background-color: #FD6E0A;
    height: 64px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
    padding: 18px 35px;
}

/* Header Styles */

.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.color-primary{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}

/* Banner Syles */
.banner{
    display: flex;
    margin: 0 200px;
    align-items: center;
}
.banner-subtitle{
    font-weight: 600;
    font-size: 45px
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-des{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About me styles */
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.section-desc{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    color: #757575;
    font-size: 20px;
}
.info-desc{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}